## Task 1:
1.Write a function to compute 5/0 and use try/except to catch the exceptions

In [1]:
def divide():
    return 5/0

try:
    divide()
except ZeroDivisionError as ze:
    print("A number can not be divided by ZERO!!")
except:
    print("Any other exception")

A number can not be divided by ZERO!!

# 2.Implement a Python program to generate all sentences where subject is in ["Americans", "Indians"] and verb is in ["Play", "watch"] and the object is in ["Baseball","cricket"].
###subjects=["Americans ","Indians"]
###verbs=["play","watch"]
###objects=["Baseball","Cricket"]
###Output should come as below:
###Americans play Baseball.
###Americans play Cricket.
###Americans watch Baseball.
###Americans watch Cricket.
###Indians play Baseball.
###Indians play Cricket.
###Indians watch Baseball.
###Indians watch Cricket.Â¶

In [2]:
subject=["Americans", "Indians"]
verb=["Play", "watch"]
obj=["Baseball","cricket"]

# Use list comprehension instead of looping over each of the predicates
sentence_list = [(sub+" "+ vb + " " + ob) for sub in subject for vb in verb for ob in obj]
for sentence in sentence_list:
    print(sentence)

Americans Play Baseball
Americans Play cricket
Americans watch Baseball
Americans watch cricket
Indians Play Baseball
Indians Play cricket
Indians watch Baseball
Indians watch cricket

## Task 2:
1.Write a function so that the columns of the output matrix are powers of the input vector.The order of the powers is determined by the increasing boolean argument. Specifically, whenincreasing is False, the i-th output column is the input vector raised element-wise to the power of N - i - 1.

In [3]:

import numpy as np

arr = np.array([1,2,3,4])
n = 5
np.vander(arr,n)

array([[  1,   1,   1,   1,   1],
       [ 16,   8,   4,   2,   1],
       [ 81,  27,   9,   3,   1],
       [256,  64,  16,   4,   1]])

In [4]:
np.vander(arr)

array([[ 1,  1,  1,  1],
       [ 8,  4,  2,  1],
       [27,  9,  3,  1],
       [64, 16,  4,  1]])